<title>99 Cats</title>

<h1>Welcome to 99 Cats! Meow!</h1>

<h2>Our Current Cats</h2>
<ul>
  <% @cats.each do |cat| %>
    <li><a href="/cats/<%=cat.id%>"><%= cat.name %></a></li>
  <% end %>
</ul>

<p><a href="/cats/new">Add a new cat!</a></p>
