<title>99 Cats</title>

<h1>Welcome to 99 Cats! Meow!</h1>
<p>Log in or create an account to request a cat & add your cat!</p>

<h3>Our Current Cats</h3>

<ul>
  <% @cats.each do |cat| %>
    <li><a href="/cats/<%=cat.id%>"><%= cat.name %></a></li>
  <% end %>
</ul>

<% if current_user %>
  <a href="/cat_rental_requests/new">Request a cat!</a>
  <br>
  <br>
  <a href="/cats/new">Add a new cat!</a>
<% end %>